@import url(http://fonts.googleapis.com/css?family=Doppio+One);

/* universal */

html {
  overflow-y: scroll;
}

section{
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  @extend %align-center;
}

.center h1 {
  @extend %gap-bottom;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1, h2 {
  @extend %align-center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar{
  background-color: #000;
}

#logo {
  @extend %inline, %gap-right;
  @include font-stack('Doppio One');
  font-size: 1.7em;
  color: #FB4;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* tables */
table {
  border-right: 0;
}
th, td {
  @extend %border-right;
}

/* footer */

footer {
  @extend %border-top, %align-right;
  margin-top: 45px;
  padding-top: 5px;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  @extend %pull-left;
}

footer ul {
  @extend %unstyled, %zero;
}

footer ul li {
  @extend %inline, %gap-right;
}

.alert-notice {
  color: blue;
}

.alert-error {
  color: red;
}

.alert-success {
  color: green;
}
