%header.navbar.navbar-fixed-top.clear
  .navbar-inner
    .container.clear.padded
      = link_to "SideNotes", '/', id: "logo"
      %nav.nav.inline.pull-right.gap-top.no-gap-desktop.no-gap-ipad
        %ul.nav.pull-right
          %li
            = link_to static_pages_help_path do
              Help
              %i.icon-question-sign
          - if user_signed_in?
            %li
              = link_to destroy_user_session_path, :method => :delete do
                Logout
                %i.icon-signout
          - else
            %li
              = link_to new_user_session_path do
                Login
                %i.icon-signin
